/* .page {
    border: 2px solid red !important;
    background: rgb(204,204,204);;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    width: 595px;
    height: 842px; 
} */